body {
    background-color:rgb(223, 78, 102);
    text-align: center;
    color: #ffffff;
}
input {
    width:350px;
    height:40px;
    border:none;
    color:#696969;
    margin-bottom: 5px;
}
button {
    width:355px;
    height:40px;
    border:none;
    background-color: darkslategrey;
    color:#ffffff;
}
.rodape {
    color:#5c5c5c;
    margin-top: 10px;
    color:rgb(36, 26, 26);
}
img {
    margin-top: 30px;
    width:400px;
    height:400px;
}
h1 {
    margin:0;
    padding: 0;
}